[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/dimasemehuk7
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/dimasemehuk7
	label-Verified = -1..+1 group user/dimasemehuk7
	push = group user/dimasemehuk7
	read = group user/dimasemehuk7
	rebase = group user/dimasemehuk7
	removeReviewer = group user/dimasemehuk7
	submit = group user/dimasemehuk7
[access "refs/heads/*"]
	create = group user/dimasemehuk7
	push = +force group user/dimasemehuk7
	pushMerge = group user/dimasemehuk7
	read = group user/dimasemehuk7
[access "refs/tags/*"]
	push = group user/dimasemehuk7
	push = +force group user/dimasemehuk7
